<%= form_with(url: game_participations_path(@game), local: true) do |form| %>
  <div>
    <%= form.label :player_id, "Choose Opponent" %>
    <%= form.collection_select :player_id, @players, :id, :name %>
  </div>
  <div>
    <%= form.label :move, "Your Move" %>
    <%= form.select :move, options_for_select([['Cooperate', 'cooperate'], ['Betray', 'betray']]) %>
  </div>
  <div>
    <%= form.label :rounds, "Rounds" %>
    <%= form.number_field :rounds %>
  </div>
  <div>
    <%= form.submit "Play" %>
  </div>
<% end %>