<h1>Round <%= @round %></h1>
<p>Rules:</p>
<ul>
  <li>If both cooperate, both get 3 points</li>
  <li>If you cooperate and the opponent betrays, you get 0 points and the opponent gets 5 points</li>
  <li>If both betray, both get 1 point</li>
</ul>

<%= form_with url: update_round_game_participation_path(@participation.game, @participation, round: @round), method: :post do %>
  <div>
    <button type="submit" name="move" value="cooperate">Cooperate</button>
    <button type="submit" name="move" value="betray">Betray</button>
  </div>
<% end %>

<% if @round > 1 %>
  <h2>Previous Round Results</h2>
  <p>User Move: <%= @user_move %> <%= @previous_user_score %></p>
  <p>Player Move: <%= @player_move %> <%= @previous_player_score %></p>
<% end %>

<h2>Current Total Score</h2>
<p>User : <%= @participation.user_score %></p>
<p>Player : <%= @participation.player_score %></p>