<h1>Game Results</h1>
<p>Game: <%= @participation.game.title %></p>
<p>Rounds: <%= @participation.rounds %></p>
<p>Player Type: <%= @participation.player_type %></p>

<h2>Final Score:</h2>
<p>You: <%= @participation.user_score %></p>
<p>Player: <%= @participation.player_score %></p>