<h1><%= @user.username %>'s Profile</h1>

<h2>Your Participations</h2>

<% if @participations.any? %>
  <ul>
    <% @participations.each do |participation| %>
      <li>
        <strong>Game:</strong> <%= participation.game.title %><br>
        <strong>Player Type:</strong> <%= participation.player_type %><br>
        <strong>Rounds:</strong> <%= participation.rounds %><br>
        <strong>Final Score:</strong> You - <%= participation.user_score %>, Player - <%= participation.player_score %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have not participated in any games yet.</p>
<% end %>