<!DOCTYPE html>
<html>
<head>
  <title>Game Theory App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body class="bg-gray-100">
  <nav class="bg-blue-500 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Game Theory App', game_path(Game.first), class: 'text-xl font-bold text-gray-800' %>
        <% else %>
          <h1 class='text-xl font-bold text-gray-800'>Game Theory App</h1>
        <% end %>
      </div>
      <div class="flex space-x-4">
        <% if user_signed_in? %>
          <%= link_to 'Profile', user_path(current_user), class: 'text-gray-700 hover:text-blue-400' %>
          <%= button_to 'Log out', session_path, method: :delete, class: 'text-gray-700 hover:text-blue-400' %>      
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container mx-auto p-4">
    <div><%= notice %></div>
    <div><%= alert %></div>
    <%= yield %>
  </div>
</body>
</html>